.Tab-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: transparent;
    
    margin: 30px;
   
    
}

  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  /* Tab.css */
.search {
  padding: 1px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 50px;
  outline: none;
}

.container button {
  padding: 1px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  position: relative;
  top: 90%; 
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #3f3e3e;
  background-color: #757171;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    cursor: pointer;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  